@font-face {
    font-family: 'icomoon';
    src:url('/resource/BookExplorer/font/IcoMoon-Free.ttf?-b7qzp2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.THIS, .THIS.mainApp, .THIS .slds-tabs--default {
    height: 100%;
}


.THIS a[role=tab]:before {
    font-family: 'icomoon';
}

.THIS li[title="Home"] a[role=tab]:before{
    content: "\e603";
}

.THIS li[title="New"] a[role=tab]:before{
    content: "\e604";
}

.THIS li[title="List"] a[role=tab]:before{
    content: "\e602";
}

.THIS li[title="Search"] a[role=tab]:before{
    content: "\e601";
}

.THIS li[title="Report"] a[role=tab]:before{
    content: "\e600";
}

.THIS .slds-tabs--default .slds-tabs__item > a {
    text-align:center;
}

.THIS .slds-tabs__content.slds-show.cTab {
    height:calc(100% - 50px);
    position: inherit;
    overflow: hidden;
}


@media only screen and (max-width: 500px) {    
    
    
    .THIS ul.slds-tabs--default__nav {
        display: flex;
    }
    .THIS ul.slds-tabs--default__nav li {
        flex-grow: 1;
        text-align: center;
        margin-left: 8px;
        margin-right: 8px;
    }

    
    .THIS div[role=tabpanel] {
        height: calc(100% - 50px) !important;
        padding: 0px;
    }
    
    
    .THIS .uiScrollerWrapper, .THIS .slds-tabs--default {
        height: 100%;
    }
    
    .THIS a[role=tab]:before {
        position: absolute;
        top: -5px; 
        padding-left: 18px;
        font-size: 2em;
    } 
    
    .THIS li[title="New"] a[role=tab]:before{
        
        padding-left: 13px;
    }
    
    .THIS li[title="List"] a[role=tab]:before{
        
        padding-left: 6px;
    }
    
    .THIS li[title="Search"] a[role=tab]:before{
        
        padding-left: 6px;
    }
    
    .THIS .slds-tabs--default__nav {
        position: fixed;
        bottom: 5px;
        width: 100%;
        border-bottom: none;
        border-top: 1px solid #d8dde6;
    }
    
    .THIS .slds-tabs--default__nav a {
        border-bottom: none !important;
        padding: 14px 8px !important;
        font-size: 0.8em;
    }
    
    .THIS .slds-tabs--default__nav > li.slds-active > a, .THIS .slds-tabs--default__nav a:hover,  .THIS .slds-tabs--default__nav a:focus {
        border-top: 2px solid #0070d2;
        padding-top: 12px !important;
    }
    .THIS .slds-tabs--default__item {
        padding: 0px !important;
    }
    
    .THIS .slds-tabs--default__nav a:focus {
        box-shadow: none;
    }
    
    
    .THIS .slds-tabs__content {
        padding: 0px !important;
        height: calc(100% - 50px);
    }
    
    .THIS .slds-text-heading--label {
        font-size: inherit !important;
        letter-spacing: 0rem;
        margin: auto;
    }
    
    .THIS .slds-tabs--default__item.slds-active {
        color: #0070d2;
        
    }
    
    .THIS .slds-tabs--default__item.slds-active:after, .THIS .slds-tabs--default__item.slds-is-active:after {
        background-color: inherit !important;
    }
    
    .THIS .slds-tabs--default__item.slds-active:after, .THIS .slds-tabs--default__item.slds-is-active:after {
        background-color: inherit !important;
    }
    
    .THIS .slds-tabs--default__item:after {
        height: 0px !important;
    }
    
    
    
}


@media only screen and (min-width:501px) {
    .THIS .slds-tabs--default__nav {
        position: fixed;
        width:50px;
        height: 100%;
        background-color: #14315D;
        display: inherit;
    } 
    .THIS a[role=tab]:before {
        font-size: 1.5em;
        color: #faebd7;
    }
    .THIS .slds-tabs--default__nav .slds-tabs__item a {
        color: transparent;      
    }  
    .THIS div[role=tabpanel] {
        margin-left: 51px;
        padding: 0px !important;
        height: 100% !important;
    }
    
    .THIS .slds-tabs--default__item.slds-active:after, .THIS .slds-tabs--default__item.slds-is-active:after {
        background-color: inherit !important;
    }
    
    .THIS li.slds-active {
        border-right: 2px solid cyan;
    }
    
    .THIS .slds-tabs--default__item {
        padding-left: 1rem !important;
        padding-top: 0px !important;
        padding-right: 0px !important;
    }
    
    .THIS .slds-text-heading--label {
        font-size: .80rem;
    }
}